[Desktop Entry]
Encoding=UTF-8
Name=NomicCoin
Comment=NomicCoin P2P Cryptocurrency
Comment[fr]=NomicCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NomicCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/nomiccoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/nomiccoin80.xpm
MimeType=x-scheme-handler/nomiccoin;
Categories=Office;
