#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_nomiccoin
#build/nomiccoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_nomiccoin)

DEB_INSTALL_EXAMPLES_nomiccoind += debian/examples/*
DEB_INSTALL_MANPAGES_nomiccoind += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd share; ./gengraphics.sh svg/nomiccoin_ico.svg
	cd src; $(MAKE) -f Makefile.unix nomiccoind
	cd src; $(MAKE) -f Makefile.unix nomiccoin-qt

override_dh_auto_clean:
	cd src; $(MAKE) -f Makefile.unix clean

#override_dh_auto_configure:
#	qmake nomiccoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
#	cd src; $(MAKE) -f makefile.unix test_nomiccoin
#	src/test_nomiccoin

# Ensure wrapper is set executable
binary-post-install/nomiccoind:
	chmod +x $(cdbs_curdestdir)usr/bin/nomiccoind
binary-post-install/nomiccoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/nomiccoin-qt
